<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Messages</a></li>
                <li><a class="active" href="/login">Login</a></li>
                <li><a href="/contactus">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <form action="/" method="GET">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <button type="submit">Submit</button>
        </form>
    </section>
</body>
<script src="/js/login.js"></script>

</html>