/* Nav Bar */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: cursive;
    color: white;
}

header {
    background-color: #202123;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li {
    list-style: none;
    margin: 10px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: #0da37f;
}

.active {
    color: #0da380b4;
}

/* Section */
section {
    background-color: #282c34;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    overflow: auto;
}

form,
#group-div {
    display: flex;
    flex-direction: column;
    background-color: #202123;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
}

#global-messages {
    height: 90%;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
    }
}

pre {
    background-color: #282c34;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

label {
    color: #0da37f;
    margin: 10px;
}

input {
    margin: 0px 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}

button {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    background-color: #0da37f;
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #0da380b4;
}

#online-users,
#members {
    color: #0da37f;
}

#online-users {
    height: 100px;
}

#members {
    margin: 0px;
    padding-left: 20px;
}

#members li:hover {
    color: #d9534f;
    cursor: pointer;
}

#all-messages {
    height: 200px;
}

/* Signup and Login */
label a {
    text-decoration: none;
    color: #14ba94;
}

label a:hover {
    color: #0da37f;
}

/* Groups */
#all-group-heading {
    text-align: center;
}

#group-list button {
    width: 100%;
}

/* Create/Edit Group */
#create-group-btn,
#edit-group-settings {
    font-size: medium;
    margin-left: auto;
}

#createGroupDialog,
#editGroupDialog,
#memberDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000077;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
    height: 100vh;
    align-content: center;
    text-align: -webkit-center;
}

#createGroupDialog.active,
#editGroupDialog.active,
#memberDialog.active {
    display: block;
}

#close,
#cancel {
    background-color: #f0ad4e;
}

#delete-group,
#delete-member {
    background-color: #d9534f;
}

#close:hover,
#cancel:hover {
    background-color: #f0ad4e77;
}

#delete-group:hover,
#delete-member:hover {
    background-color: #d9534f77;
}